/* Add CSS styles for SignInPage */
#signin-card {
  background-color: #007bff; /* Background color for the card */
}

#signin-header {
  background-color: #0056b3; /* Background color for the card header */
  color: #fff; /* Text color for the card header */
}

#signin-body {
  background-color: #f5f5f5; /* Background color for the card body */
}

#signin-button {
  background-color: #007bff; /* Background color for the "Sign In" button */
  color: #fff; /* Text color for the "Sign In" button */
  border: none; /* Remove button border */
}

#signin-button:hover {
  background-color: #0056b3; /* Background color for the button on hover */
}