/* User.css */
.user-container {
  background-color: #f7f7f7;
  padding: 20px;
  min-height: 100vh;
}

.user-details {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.user-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.user-info {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.user-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.add-subject-button {
  margin-top: 20px;
}